.git
.github
.gradle
.idea
.kotlin
.vscode
build
out
bin

.DS_Store
*.iml
*.iws
*.ipr
*.log

.env
application-local.properties
application-local.yml
application-secret.properties

docs/diagrams
HELP.md
